<div class="row">
  <div class="left-side">
    <div class="container">
      <h1>
        AT YOUR <br />
        <span>CONVENIENCE</span>
      </h1>

      <p>Groceries and more available for pickup.</p>

      <div class="address-search">
        <input
          type="text"
          name="address"
          id="address"
          placeholder="Toronto, Canada"
        />
        <a href="" class="btn btn-primary"
          ><img
            src="../../../assets/images/arrow-right.svg"
            height="14px"
            width="14px"
            alt=""
        /></a>
      </div>
    </div>
  </div>

  <div class="right-side">
    <div class="header">
      <img src="../../../assets/images/shopping-basket-solid.svg" alt="" />
    </div>
  </div>

  <span class="clear-fix"></span>
</div>
