@import "variables";

p {
  font-size: 16px;
  margin-top: $spacing-sm/2;
  margin-bottom: $spacing-sm;
}

.btn {
  padding: 1rem 20px;
}

.address-search input {
  width: 300px;
}

.left-side {
  float:left;
  height: 100%;
  width: 45%;
}

.left-side h1 {
  margin-top: 150px;
  text-transform: uppercase;
  font-family: impact;
  font-size: 26px;
  letter-spacing: 4px;
}

.left-side h1 span {
  font-size: 55px;
  letter-spacing: 2px;
  font-family: impact;
}

.right-side {
  float: right;
  height: 100%;
  width: 55%;
}

.right-side .header {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.right-side .header:after {
  content: 'AT YOUR CONVENIENCE';
  position: absolute;
  top: 0;
  left: -10%;
  font-size: 7em;
  font-family: 'Montserrat';
  font-weight: 800;
  color: rgba(255, 255, 255, 0.04);
}

.container {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 10rem;
}

.clear-fix {
  clear: both;
}