@import url("https://fonts.googleapis.com/css?family=Montserrat:500");

/* Colour variables */
$primary-color: #2b3038;
$secondary-color: rgb(60, 82, 114);
$tertiary-color: #ffffff;
$quaternary-color: #e96729;

/* Spacing variables */
$spacing-sm: 1rem;
$spacing-md: 3rem;
$spacing-lg: 10rem;

/* Screen sizes */
