@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

/* Colour variables */
$primary-color: #2B3038;
$secondary-color: #20242A;
$tertiary-color: #ffffff;
$quaternary-color: #E96729;


/* Spacing variables */
$spacing-sm: 1rem;
$spacing-md: 3rem;
$spacing-lg: 10rem;


/* Screen sizes */
