@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

// Global variables
$primary-color: #D4D5D5;
$secondary-color: #4C9DA3;
$tertiary-color: #18375F;
$quaternary-color: #E96729;

$off-white: #ecf0f1;
