@import "variables";

.left-side {
  float: left;
  height: 100vh;
  width: 50%;
}

.right-side {
  float: right;
  height: 100vh;
  width: 50%;
}

.card {
  background-color: white;
  margin-top: 5px;
  padding: 2rem;
  color: $primary-color;
}

.card .title {
  font-size: 1.5rem;
}
