/* You can add global styles to this file, and also import other style files */
@import "variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: $tertiary-color;
  height: 100vh;
  background: linear-gradient(90deg, $primary-color 50%, $secondary-color 50%);
  z-index:-10000;
}

li,
a,
button,
p,
input {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: $tertiary-color;
  text-decoration: none;
}

.container {
  margin: 1rem 5rem;
}

.btn {
  border: 1px solid $primary-color;
  padding: 0.5rem 1.5rem;
  font-weight: 500;
  transition: all 0.3s, ease-in-out 1s;
}

.btn:focus, input:focus {
  outline: none;
}

.btn-primary {
  color: $tertiary-color;
  background-color: $secondary-color;
  border-color: $tertiary-color;
}

.btn-secondary {
  color: $primary-color;
  background-color: $tertiary-color;
  border-color: $tertiary-color;
}

.btn-primary:hover,
.btn-primary:focus {
  background: linear-gradient(110deg, $secondary-color 50%, $primary-color 50%);
  border-color: $quaternary-color;
}

.btn-secondary:hover,
.btn-secondary:focus {
  color: $quaternary-color;
  border-color: $quaternary-color;
}

h1 {
  color: $tertiary-color;
  font-family: "Montserrat", sans-serif;
}

input {
  padding: $spacing-sm;
}

input:focus {
  border-color: $quaternary-color;
}